@font-face {
  font-family: "Heroeau Regular";
  src: url(assets/fonts/HEROEAU\ ELEGANT\ DEMO.ttf);
}

@font-face {
  font-family: "Riesling";
  src: url(assets/fonts/riesling.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right top,
    #0b1110,
    #090f10,
    #070e0f,
    #060b0e,
    #05090d,
    #050a0e,
    #050a10,
    #050b11,
    #050e15,
    #041117,
    #03141a,
    #01161c
  );
  min-height: 100%;
  background-attachment: fixed;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.name {
  font-size: 8.5vmin;
  margin-top: 1.5em;
  color: white;
  font-family: "Cardo", serif;
  letter-spacing: 2px;
  text-align: center;
  transition: all 500ms;
  pointer-events: none;
}

.name:hover {
  color: #999;
}

.nav ul {
  padding-left: 0;
  margin-top: 5em;
  text-align: center;
}

.nav li {
  font-size: 2em;
  color: white;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  padding-top: 0.5em;
  transition: all 500ms;
}

.nav li:hover {
  color: #999;
  cursor: pointer;
  padding-left: 0.1em;
}

.links {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #99999910;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em 0;
  backdrop-filter: blur(10px);
}

.links a {
  padding: 0 0.25em;
  transition: all 500ms;
}

.links a:hover {
  color: #999;
  cursor: pointer;
}

.overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #00000075;
  backdrop-filter: blur(5px);
  display: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.pop-ups {
  min-width: 70%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff15;
  backdrop-filter: blur(10px);
  color: white;
  border: 1px solid #666;
  display: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.pop-ups > div {
  display: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.pop-ups .title {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-ups .title span {
  padding: 0 2rem;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.pop-ups .title .close {
  transition: all 500ms;
}

.pop-ups .title .close:hover {
  text-decoration: underline;
  rotate: 0 1 0 180deg;
  cursor: pointer;
}

.pop-ups p {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  padding: 0 2rem;
  text-align: justify;
}

.quote {
  margin: 4em 0;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote div:first-of-type {
  font-family: "Heroeau Regular";
  color: rgb(255, 255, 255);
}
.quote div:last-of-type {
  font-family: "Riesling";
  color: rgb(255, 255, 255);
}
